{% extends "base.html" %}

{% block title %}rootsec0ps{% endblock %}

{% block content %}

        <p style="text-align: left;">Welcome to ROOT BBS, owned and maintained by rootsec0ps. This is a 
            space for cybersecurity news, hacker culture, privacy advocacy & programming. Currently I'm discovering in Python, 
            Django, html, css and Javascript. Feel free to start a discussion in the comments, I will reply
            to everything!</p>
        <br>
        
        <div class="listcontainer">
            <h2 style="font-weight: 500;">List of published blog posts:</h2>
            {% for post in object_list %}
            <br>
            <p>{{ post.id }}. <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></p>
            <p><i><b>Posted on:</b> {{post.date_added}}</i></p>
            <p style="line-height: 1.2"><i><b>Summary: </b>{{ post.description }}</i></p>
            {% endfor %}
            <br>
        </div>

{% endblock %}