{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">

    <head>
        <title>Tech Blog</title>

        <style>
            .line-height-adjust {
                line-height: 0.5;
            }
        </style>

        <meta name="viewport" content="width=1024, user-scalable=yes">
    </head>

    <body>
        <p class="blocktext">
            
                    ::::::::.&nbsp;&nbsp;&nbsp;&nbsp;.:::.&nbsp;&nbsp;&nbsp;&nbsp;.:::.::::::::::::::::: <br>
                    ||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;&nbsp;&nbsp;[x]<br>
                    ||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;//&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\\&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;&nbsp;[x]&nbsp;&nbsp;&nbsp;&nbsp;╔════════════════╗<br>
                    ||::::://&nbsp;//&nbsp;_&nbsp;|&nbsp;_&nbsp;\\&nbsp;_&nbsp;|&nbsp;_&nbsp;\\&nbsp;&nbsp;[x]&nbsp;&nbsp;&nbsp;&nbsp;║&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║<br>       
                    ||&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;[x]&nbsp;&nbsp;&nbsp;&nbsp;║&nbsp;&nbsp;&nbsp;█&nbsp;ACCESS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║<br>
                    ||&nbsp;&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;[x]&nbsp;&nbsp;&nbsp;&nbsp;║&nbsp;&nbsp;&nbsp;█&nbsp;DENIED&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║<br>
                    ||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\\&nbsp;&nbsp;&nbsp;\\_&nbsp;_//&nbsp;&nbsp;\\_╔═//╗&nbsp;&nbsp;&nbsp;[x]&nbsp;&nbsp;&nbsp;&nbsp;║________________║<br>                        
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;╔╝═══╚╗&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-\<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║&nbsp;&nbsp;█&nbsp;&nbsp;║&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-\<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;╚=====╝&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/____________________\<br>
        </p>
        <h1 style="text-align: center;"><u><a href="{% url 'blog:index' %}">01101000 01101111 01101101 01100101</a></u></h1>
        <p style="text-align: left;">Welcome to ROOT BBS, owned and maintained by rootsec0ps. This is a 
            space for cybersecurity news, hacker culture, privacy advocacy & programming. I also like to keep track 
            of my own progress and discoveries as a beginning developer. Currently I'm invested in Python, 
            Django, html, css and Javascript. Feel free to start a discussion in the comments, I will reply
            to everything!</p>
        <br>
        
        <div class="line-height-adjust">
            <h2>List of published blog posts:</h2>
            {% for post in object_list %}
            <br>
            <p>{{ post.id }}. <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></p>
            <p><i><b>Posted on:</b> {{post.date_added}}</i></p>
            <p><i><b>Summary: </b>{{ post.description }}</i></p>
            {% endfor %}
            <br>
        </div>
        

    </body>
</html>