
{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">

    <head>
        <title>Tech Blog</title>

        <style>
            .line-height-adjust {
                line-height: 0.5;
            }
        </style>
    </head>

    <body>
        <p style="text-align: center;">
            <pre>
                ::::::::.      .:::.         .:::.   ::::::::::::::::: 
                ||      \\    //   \\       //   \\         [x]         
                ||      //   //     \\     //     \\        [x]         ╔════════════════╗ 
                ||::::://   // _ | _ \\   // _ | _ \\       [x]         ║                ║        
                ||   \\     \\   |   //   \\   |   //       [x]         ║   █ ACCESS     ║
                ||    \\     \\     //     \\     //        [x]         ║   █ DENIED     ║
                ||     \\     \\_ _//       \\_ _//         [x]         ║________________║                         
                                                                        / - - - - - - - -\ 
                                                                       / - - - - - - - - -\
                                                                      /____________________\ 
        </pre></p>
        <h1 style="text-align: center;"><u><a href="{% url 'blog:index' %}">01101000 01101111 01101101 01100101</a></u></h1>
        <h2 style="font-size: 26px; text-align: center;">{{ post.title }}</h2>
        <div>
            <br>
            <p style="font-size: 18px;">Description: <i>{{ post.description }}</i></p>
            <p>{{ post.content }}</p>
            <p style="font-size: 13px;">Published on: {{ post.date_added }}</p><br>
            <p style="text-align: right;"><a href="{% url 'blog:index' %}">Back to homepage</a></p><br>

        <p>Post a reply:</p>
        <form action="{% url 'blog:new_reply' post.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Post reply</button>
        </form>

        <br>
        <h2 style="font-size: 26px; text-align: left;">Replies:</h2>

        <ul>
            {% for reply in replies %}
                <li>
                    <p style="font-size: 14px;"> Reply by <b>{{ reply.name }}</b> on {{ reply.date_added|date:'d M Y H:i' }}:</p>
                    <p> {{ reply.text|linebreaks }}</p>
                </li>
            {% empty %}
                <li> There are no replies for this post yet.</li>
            {% endfor %}
        </ul>
        </div>
    </body>
</html>

    