{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <br>
    <h2 style="font-size: 26px; text-align: center; font-weight: 500;">{{ post.title }}</h2>
    <div class="listcontainer" style="line-height: 1.2">
        <p style="font-size: 20px; line-height: 1.5;">Description: <i>{{ post.description }}</i></p>
        <p>{{ post.content|linebreaks }}</p>
        <p style="font-size: 13px;">Published on: {{ post.date_added }}</p><br>
        <p style="text-align: right;"><a href="{% url 'blog:index' %}">Back to homepage</a></p><br>
        <p style="text-align: center;">-----</p>        
        <br>
    
    {% block leaveComment %}    
    <p style="font-size: 20px; text-align: right;">
        <a href="{% url 'blog:new_comment' post.id %}">Leave a comment</a>
    </p>
    {% endblock %}

    {% block comments %}
    <h2 style="font-size: 26px; text-align: center; font-weight: 500;">Comments:</h2>

    <ul>
        {% for comment in comments %}
            <li style="line-height: 1.2">
                <p style="font-size: 14px;"> Comment by <b>{{ comment.name }}</b> on {{ comment.date_added|date:'d M Y H:i' }}:</p>
                <p style="line-height: 1.2"> {{ comment.text|linebreaks }}</p>
                <p style="font-size: 16px; text-align: right;">
                    {% block postReply %}<a href="{% url 'blog:new_reply' post.id comment.id %}">Reply</a>{% endblock %}
                </p>
                <ul>
                    {% for reply in replies %}
                    <li style="line-height: 1.2">
                        <p style="font-size: 14 px;"> Reply by <b>{{ reply.name }}</b> on {{ reply.date_added|date:'d M Y H:i' }}</p>
                        <p style="line-height: 1.2"> {{ reply.text|linebreaks }}</p>
                    </li>
                    {% empty %}
                    <li style="line-height: 1.2">
                        <p style="font-size: 14 px;"> No replies yet</p>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li> There are no comments for this post yet.</li>
        {% endfor %}
        <br>
    </ul>
    {% endblock %}

    </div>

{% endblock %}