{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">

    <head>
        <title>Tech Blog</title>

        <style>
            .line-height-adjust {
                line-height: 0.5;
            }
        </style>
    </head>

    <body>
        <p style="text-align: center;">01101001011010010001011101010011101100010101011101001001</p>
        <h1 style="text-align: center;"><u><a href="{% url 'blog:post_list' %}">Tech Blog</a></u></h1>
        <p style="text-align: left;">Welcome to my blog. Here I keep track of my progress 
            and discoveries as a developer. Currently I'm invested in Python, Django, html, css and Javascript.
            You will find posts about tech, privacy and cybersecurity on this website.</p>
        <br>
        
        <div class="line-height-adjust">
            <h2>List of published blog posts:</h2>
            {% for post in object_list %}
            <br>
            <p>{{ post.id }}. <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></p>
            <p><i><b>Posted on:</b> {{post.date_added}}</i></p>
            <p><i><b>Summary: </b>{{ post.description }}</i></p>
            {% endfor %}
            <br>
        </div>
        

    </body>
</html>