{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">

    <head>
        <title>Tech Blog</title>

        <style>
            .line-height-adjust {
                line-height: 0.5;
            }
        </style>
    </head>

    <body>
        <p style="text-align: center;">01101001011010010001011101010011101100010101011101001001</p>
        <h1 style="text-align: center;"><u><a href="{% url 'blog:post_list' %}">Tech Blog</a></u></h1>
        <br>
        <h2>The item you requested is not available. (404)</h2>
    </body>
</html>