html, body {
    min-width: 720px;
    overflow-x: auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background-color: black;
    font-family: 'Courier';
    color: green;
    width: 720px;
    position: relative;
}

body.child {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)

}

div.listcontainer {
    border-style: none double none double;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 0.7;
    
}

div.logocontainer {
    height: 10em;
    position: relative;
}

div.logocontainer p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

a {
    color: green;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

input, textarea {
    background-color: black;
    color: green;
    border-color: green;
}

button {
    background-color: black;
    color: green;
    border-color: green;
    font-family: 'Courier';
    font-size: 16px;
    padding: 8px;
}



