body {
    background-color: black;
    font-family: 'Courier';
    color: green;
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
}

div {
    border-style: none double none double;
    padding-right: 30px;
    padding-left: 30px;
}

a {
    color: green;
}