body {
    background-color: black;
    font-family: 'Courier';
    color: green;
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
}

div {
    border-style: none double none double;
    padding-right: 30px;
    padding-left: 30px;
    
}

a {
    color: green;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

input, textarea {
    background-color: black;
    color: green;
    border-color: green;
}

button {
    background-color: black;
    color: green;
    border-color: green;
    font-family: 'Courier';
    font-size: 16px;
    padding: 8px;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 36em
}